/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: aliceblue;
}
html {
  font-size: 62.5%;
}
body {
  height: 100vh;
  display: grid;
  place-items: center;
} */
.winner {
  color: green;
}
.loser {
  color: red;
}

/* .container {
  border: 0.3rem solid #0f1011;
}

.img {
  width: 22rem;
  height: 15rem;
}

h1 {
  font-size: 5rem;
  color: black;
} */
